/* Styles for Just Eat */

#ClosedRestaurants .fsarating {
  float: right;
  clear: both;
  margin-top: 35px !important;
  margin-right: 25px !important;
}

#OpenRestaurants .fsarating {
  float: right;
  clear: both;
  margin-top: 0 !important;
  margin-right: 35px !important;
}

/* Styles for Hungry House */

.restsSearchItemRes .fsarating {
  margin: 10px 0 15px 18px;
}

/* Styles for Fill My Belly */

.search-product .fsarating {
  right: 25px;
  position: absolute;
  bottom: 20px;
}

.search-product {
  height: 140px;
}

.SponserClass .search-product {
  height: 160px; 
}